<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{.Title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="static/css/tagify.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/layout.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/add_task.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="static/js/tagify.js" type="text/javascript" charset="utf-8"></script>  
  <script src="static/js/add_task.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <span>Todo App</span>
    </div>
    <div class="search">
      <input type="text" class="field">
    </div>
    <div class="menu">
      <div tabindex="0" class="item">
        <div class="icon add"></div>
        <div class="dropdown">
          <button id="add-task">New Task</button>
          <button>New Board</button>
        </div>
      </div>
      <div tabindex="0" class="item">
        <div class="icon bell"></div>
      </div>
      <div tabindex="0" class="item">
        <div class="icon settings"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="left" id="left-bar">
      <div class="top-menu">
        <a href="/dash"><div class="icon dash"></div><span>dashboard</span></a>
        <a href="/calendar"><div class="icon calendar"></div><span>calendar</span></a>
        <a href="/productivity"><div class="icon pulse"></div><span>productivity</span></a>
      </div>
      <div class="bottom-menu">
        <a href="#"><div class="icon report"></div><span>report</span></a>
        <a href="#" id="menu-toggle"><div class="icon bars"></div><span>hide</span></a>
      </div>
    </div>
    <div class="right">
    {{if .Dashboard}}
      {{template "dashboard"}}
    {{end}}
    </div>
  </div>
  <div class="page-container" id="add-task-page">
    {{template "add_task"}}
  </div>
</body>
</html>